<a href="https://colab.research.google.com/github/Daksh-Raghuvanshi/Machine-Learnig-Projects/blob/main/Encoding_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **One Hot Encoding Using Pandas**

In [ ]:
import pandas as pd

In [ ]:
tips_df = pd.read_csv("/content/tips.csv")
tips_df

FileNotFoundError: ignored

In [ ]:
dummy_df = pd.get_dummies(tips_df , drop_first= True)

In [ ]:
dummy_df

,total_bill,tip,size,sex_Male,smoker_Yes,day_Sat,day_Sun,day_Thur,time_Lunch
0,16.99,1.01,2,0,0,0,1,0,0
1,10.34,1.66,3,1,0,0,1,0,0
2,21.01,3.50,3,1,0,0,1,0,0
3,23.68,3.31,2,1,0,0,1,0,0
4,24.59,3.61,4,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,1,0,1,0,0,0
240,27.18,2.00,2,0,1,1,0,0,0
241,22.67,2.00,2,1,1,1,0,0,0
242,17.82,1.75,2,1,0,1,0,0,0
243,18.78,3.00,2,0,0,0,0,1,0

In [ ]:
dummy_df.keys()

Index(['total_bill', 'tip', 'size', 'sex_Male', 'smoker_Yes', 'day_Sat',
       'day_Sun', 'day_Thur', 'time_Lunch'],
      dtype='object')

## **One Hot Encoding using SciKit Learn**

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
oh_enc = OneHotEncoder(sparse = False)
dummy_df2 = oh_enc.fit_transform(tips_df[['sex', 'smoker', 'day', 'time']])
dummy_df2

array([[1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 1., 1., 0.]])

In [ ]:
pd.DataFrame(dummy_df2, columns = ['sex_Female', 'sex_Male', 'smoker_No',
       'smoker_Yes', 'day_Fri', 'day_Sat', 'day_Sun', 'day_Thur',
       'time_Dinner', 'time_Lunch'])

,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
239,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [ ]:
oh_enc1 = OneHotEncoder(sparse = False, drop = 'first')
dummy_df3 = oh_enc1.fit_transform(tips_df[['sex', 'smoker', 'day', 'time']])
dummy_df3

NameError: ignored

In [ ]:
pd.DataFrame(dummy_df3 , columns = ['sex_Male', 'smoker_Yes', 'day_Sat',
       'day_Sun', 'day_Thur', 'time_Lunch'])

     sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur  time_Lunch
0         0.0         0.0      0.0      1.0       0.0         0.0
1         1.0         0.0      0.0      1.0       0.0         0.0
2         1.0         0.0      0.0      1.0       0.0         0.0
3         1.0         0.0      0.0      1.0       0.0         0.0
4         0.0         0.0      0.0      1.0       0.0         0.0
..        ...         ...      ...      ...       ...         ...
239       1.0         0.0      1.0      0.0       0.0         0.0
240       0.0         1.0      1.0      0.0       0.0         0.0
241       1.0         1.0      1.0      0.0       0.0         0.0
242       1.0         0.0      1.0      0.0       0.0         0.0
243       0.0         0.0      0.0      0.0       1.0         0.0

[244 rows x 6 columns]