<a href="https://colab.research.google.com/github/Daksh-Raghuvanshi/Machine-Learnig-Projects/blob/main/SVR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Support Vector Regression for Bnagalore House Prediction

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('/content/bangalore house price prediction OHE-data (1).csv')
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = df.drop('price' , axis = 1)
y = df['price']

In [ ]:
print(X.shape)
print(y.shape)

(7120, 107)
(7120,)

In [ ]:
X_train , X_test , y_train , y_test = train_test_split( X , y , test_size= 0.2 , random_state = 51)
print(f"{X_train.shape} ,{X_test.shape} , {y_train.shape} , {y_test.shape} ")

(5696, 107) ,(1424, 107) , (5696,) , (1424,)

In [ ]:
y_test.head()

2435     80.0
3113     40.0
426     120.0
1124     79.0
1161     45.0
Name: price, dtype: float64

In [ ]:
sc = StandardScaler()
sc.fit(X_train)
print(sc.mean_)
print(sc.scale_)

[2.38307584e+00 1.57567977e+00 1.46585984e+03 2.45646067e+00
 5.91633522e+03 7.51404494e-01 1.82584270e-01 6.07443820e-02
 7.93539326e-01 3.26544944e-02 2.61587079e-02 2.12429775e-02
 1.66783708e-02 1.61516854e-02 1.56250000e-02 1.52738764e-02
 1.65028090e-02 1.50983146e-02 1.42205056e-02 1.31671348e-02
 1.19382022e-02 1.17626404e-02 1.12359551e-02 1.24648876e-02
 8.60252809e-03 7.37359551e-03 7.90028090e-03 8.07584270e-03
 7.54915730e-03 8.07584270e-03 7.54915730e-03 6.67134831e-03
 6.67134831e-03 5.79353933e-03 5.61797753e-03 6.49578652e-03
 5.44241573e-03 6.32022472e-03 5.09129213e-03 5.61797753e-03
 4.56460674e-03 6.49578652e-03 5.09129213e-03 6.14466292e-03
 5.61797753e-03 6.14466292e-03 4.21348315e-03 5.61797753e-03
 4.74016854e-03 5.61797753e-03 4.74016854e-03 4.91573034e-03
 5.26685393e-03 4.91573034e-03 4.03792135e-03 3.86235955e-03
 3.86235955e-03 4.38904494e-03 4.21348315e-03 3.51123596e-03
 3.68679775e-03 4.38904494e-03 4.38904494e-03 3.86235955e-03
 4.03792135e-03 3.51123596e-03 4.38904494e-03 4.03792135e-03
 3.86235955e-03 3.86235955e-03 3.51123596e-03 3.51123596e-03
 3.51123596e-03 3.16011236e-03 3.51123596e-03 3.33567416e-03
 3.51123596e-03 3.51123596e-03 3.68679775e-03 3.68679775e-03
 2.98455056e-03 3.68679775e-03 3.86235955e-03 3.51123596e-03
 3.51123596e-03 3.86235955e-03 3.86235955e-03 3.33567416e-03
 4.21348315e-03 3.86235955e-03 3.68679775e-03 3.51123596e-03
 2.80898876e-03 3.16011236e-03 3.86235955e-03 2.98455056e-03
 3.51123596e-03 2.98455056e-03 2.98455056e-03 2.63342697e-03
 2.80898876e-03 2.80898876e-03 2.98455056e-03 2.98455056e-03
 3.16011236e-03 3.16011236e-03 2.63342697e-03]
[8.65227177e-01 7.71370094e-01 7.75239330e+02 8.27588110e-01
 2.51840105e+03 4.32198774e-01 3.86325322e-01 2.38860842e-01
 4.04764949e-01 1.77730634e-01 1.59607111e-01 1.44193320e-01
 1.28063276e-01 1.26058750e-01 1.24019593e-01 1.22640063e-01
 1.27398847e-01 1.21944067e-01 1.18398830e-01 1.13990181e-01
 1.08607926e-01 1.07815958e-01 1.05402601e-01 1.10948250e-01
 9.23500114e-02 8.55524728e-02 8.85317257e-02 8.95020864e-02
 8.65573078e-02 8.95020864e-02 8.65573078e-02 8.14054140e-02
 8.14054140e-02 7.58944941e-02 7.47423298e-02 8.03342472e-02
 7.35717054e-02 7.92482144e-02 7.11714190e-02 7.47423298e-02
 6.74075004e-02 8.03342472e-02 7.11714190e-02 7.81466956e-02
 7.47423298e-02 7.81466956e-02 6.47744526e-02 7.47423298e-02
 6.86855104e-02 7.47423298e-02 6.86855104e-02 6.99397307e-02
 7.23817255e-02 6.99397307e-02 6.34162167e-02 6.20277497e-02
 6.20277497e-02 6.61043208e-02 6.47744526e-02 5.91515611e-02
 6.06069738e-02 6.61043208e-02 6.61043208e-02 6.20277497e-02
 6.34162167e-02 5.91515611e-02 6.61043208e-02 6.34162167e-02
 6.20277497e-02 6.20277497e-02 5.91515611e-02 5.91515611e-02
 5.91515611e-02 5.61259837e-02 5.91515611e-02 5.76588886e-02
 5.91515611e-02 5.91515611e-02 6.06069738e-02 6.06069738e-02
 5.45494548e-02 6.06069738e-02 6.20277497e-02 5.91515611e-02
 5.91515611e-02 6.20277497e-02 6.20277497e-02 5.76588886e-02
 6.47744526e-02 6.20277497e-02 6.06069738e-02 5.91515611e-02
 5.29254036e-02 5.61259837e-02 6.20277497e-02 5.45494548e-02
 5.91515611e-02 5.45494548e-02 5.45494548e-02 5.12493125e-02
 5.29254036e-02 5.29254036e-02 5.45494548e-02 5.45494548e-02
 5.61259837e-02 5.61259837e-02 5.12493125e-02]

In [ ]:
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

Creating the Model for Support Vector Regression

In [ ]:
from sklearn.svm import SVR

In [ ]:
svr_rbf = SVR(kernel = 'rbf')
svr_rbf.fit(X_train_sc , y_train)
svr_rbf.score(X_test_sc , y_test)

0.20638035840828173

Now we will try diffeent kernels for different Accuracy Scores

In [ ]:
svr_linear = SVR(kernel = 'linear')
svr_linear.fit(X_train_sc , y_train)
svr_linear.score(X_test_sc , y_test)

0.7962656700653191

In [ ]:
svr_poly = SVR(kernel = 'poly' , degree = 2)
svr_poly.fit(X_train_sc , y_train)
svr_poly.score(X_test_sc , y_test)

0.18266215211874637

In [ ]:
svr_sigmoid = SVR(kernel = 'sigmoid')
svr_sigmoid.fit(X_train_sc , y_train)
svr_sigmoid.score(X_test_sc , y_test)

0.4867409362089056

Hence Linear model giving us the best Accuracy Score , we will go with that

In [ ]:
y_pred = svr_linear.predict(X_test_sc)
y_pred

array([ 86.53643947,  33.70344615, 122.48608154, ...,  26.23978561,
        64.52625061, 176.17288975])

In [ ]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64

As in general we do naot use SVR for the formation of Regression model